@font-face {
    font-family: "Exo 2";
    src: url("/img/Exo2.ttf");
}

body {
    font-family: "Exo 2", "Droid Sans", Ubuntu, Verdana, sans-serif;
    color: rgba(180, 199, 255, 0.90);
}

header .brand {
    padding-top: 10px;
    font-size: 3em;
    text-align: center;
}

header .brand div {
    display: inline-block;
}

header .brand img {
    margin-bottom: 10px;
}

header .brand div span,
.top > div:first-child > span {
    color: rgb(160, 160, 0);
}

h1 {
    margin-top: 0;
}

a:hover {
    text-decoration: none;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("/img/background.jpg") no-repeat top left;
    z-index: -2;
}

.form-control {
    color: rgb(160, 160, 0);
    background-color: rgba(255, 25, 142, 0.02);
    border-radius: 0;
}

table td.id {
    width: 5em;
}

table .action {
    width: 5em;
}

.navbar {
    height: inherit;
    border-radius: 0;
}

.nav > li > a {
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    padding: 20px 7px;
}

.navbar-nav > .active > a {
    background-color: transparent !important;
}

.navbar-default {
    border: none;
    text-align: center;
    background: -moz-linear-gradient(45deg, rgba(0,51,51,0) 0%, rgba(5,193,255,1) 33%, rgba(0,170,255,1) 49%, rgba(5,193,255,1) 66%, rgba(0,51,51,0) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,51,51,0)), color-stop(33%, rgba(5,193,255,1)), color-stop(49%, rgba(0,170,255,1)), color-stop(66%, rgba(5,193,255,1)), color-stop(100%, rgba(0,51,51,0))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,51,51,0) 0%, rgba(5,193,255,1) 33%, rgba(0,170,255,1) 49%, rgba(5,193,255,1) 66%, rgba(0,51,51,0) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,51,51,0) 0%, rgba(5,193,255,1) 33%, rgba(0,170,255,1) 49%, rgba(5,193,255,1) 66%, rgba(0,51,51,0) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(0,51,51,0) 0%, rgba(5,193,255,1) 33%, rgba(0,170,255,1) 49%, rgba(5,193,255,1) 66%, rgba(0,51,51,0) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(0,51,51,0) 0%, rgba(5,193,255,1) 33%, rgba(0,170,255,1) 49%, rgba(5,193,255,1) 66%, rgba(0,51,51,0) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003333', endColorstr='#003333',GradientType=1 ); /* ie6-9 */
}

.navbar-default .navbar-nav {
    display: inline-block;
    margin: auto;
    float: none;
}

.navbar-default .navbar-nav > li > a {
    color: rgba(255, 200, 0, 0.96);
}

.navbar-border {
    position: absolute;
    top: 67px;
    width: 100%;
    height: 25px;
    opacity: 0.9;
    z-index: 1;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1em;
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table > tbody > tr > th
{
    padding: 6px;
    border: 1px solid #0000ff;
    vertical-align: middle;
}

.table > tbody > tr > td.danger {
    background-color: transparent;
    color: red;
}

.pagination > li > a {
    background-color: #1e1e1e;
    color: #ff5db1;
    border: none;
}

.pagination > .disabled > span {
    border: none;
}

.pagination > .active > a, .pagination > li > a:hover {
    background-color: #ff5db1;
    border: none;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.footer {
    height: 60px;
    padding-top: 20px;
    text-align: center;
    color: black;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

.footer a {
    color: #000099;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(255, 93, 177, 0.2);
}

.type-index .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(128, 128, 255, 0.3);
}

.type-index img {
    width: 40px;
    margin-right: 2mm;
}

.type-index td {
    width: 16%;
    vertical-align: middle !important;
    padding: 2px 6px !important;
}

.wrap > .container > div {
}

.home-index .border {
    border-radius: 0.4em;
    display: inline-block;
    width: 750px;
    height: 492px;
    padding: 30px;
}

.index-row {
    display: table-row;
    text-align: center;
}

.index-row > div {
    vertical-align: top;
    display: table-cell;
}

.index-row > div:first-child > img {
    width: 92%;
}

.index-row > div:first-child > img:first-child {
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);

}

.index-row a {
    font-size: 3em;
    text-transform: uppercase;
    font-family: "Monti-Decor A", "A Stamper", Kurale, sans-serif;
}

.gallery {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 432px;
    background-size: cover;
}

.count:before {
    content: 'к-во: ';
}

p {
    margin-bottom: 4px;
}

#matrix a {
    display: block;
}

.matrix {
    vertical-align: middle;
}

.matrix td {
    width: 20%;
}

#metrika {
    text-align: center;
    padding: 1em;
}

#timezone label {
    display: block;
}

#timezone select {
    background-color: rgba(5, 193, 255, 0.6);
    border-color: rgba(5, 193, 255, 0.9);
}

#timezone option {
    background-color: rgba(5, 193, 255, 0.9);
    color: blue;
}

.required label:after {
    content: ' *'
}

.top {
    margin-top: 85px;
    border-top: 2px solid rgba(18, 42, 191, 0.83);
    border-bottom: 2px solid rgba(74,99,191,1);
    height: 364px;
    background: rgba(74,99,191,1);
    background: -moz-linear-gradient(top, rgba(74,99,191,1) 0%, rgba(117,137,209,0.79) 59%, rgba(146,162,221,0.65) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,99,191,1)),
        color-stop(59%, rgba(117,137,209,0.79)), color-stop(100%, rgba(146,162,221,0.65)));
    background: -webkit-linear-gradient(top, rgba(74,99,191,1) 0%, rgba(117,137,209,0.79) 59%, rgba(146,162,221,0.65) 100%);
    background: -o-linear-gradient(top, rgba(74,99,191,1) 0%, rgba(117,137,209,0.79) 59%, rgba(146,162,221,0.65) 100%);
    background: -ms-linear-gradient(top, rgba(74,99,191,1) 0%, rgba(117,137,209,0.79) 59%, rgba(146,162,221,0.65) 100%);
    background: linear-gradient(to bottom, rgba(74,99,191,1) 0%, rgba(117,137,209,0.79) 59%, rgba(146,162,221,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a63bf', endColorstr='#92a2dd', GradientType=0 );
}

.top > * {
    margin-top: -85px;
}

.benefits {
    float: left;
}

.benefits div {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    margin: 1em;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.72);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.72);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.72);
}

.benefits img {
    border-radius: 50%;
    margin: 4px;
    -webkit-box-shadow: 0 0 5px -1px rgba(0,0,0,0.72);
    -moz-box-shadow: 0 0 5px -1px rgba(0,0,0,0.72);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.72);
}

.top > img {
    float: right;
    margin-right: 1em;
}

.has-success
.help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #00BB00;
}
